.characterinfo {
  display: flex;
  color: white;
  margin-bottom: 130px;
  width: 80%;
  margin: 100px auto;
  justify-content: space-evenly;
  max-height: 500px;
}

.characterinfo__name {
  font-weight: bold;
  font-size: 50px;
  line-height: 74px;
}

.characterinfo__text {
  width: 50%;
  max-height: 100%;
  overflow: auto;
}

.characterinfo__description {
  margin-top: 20px;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
}

.characterinfo__image {
  width: 463px;
  height: 463px;
  background-size: cover;
}
