.card {
  width: 250px;
  height: 300px;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  scale: 1.1;
}

.card__image {
  height: 250px;
  background-size: cover;
}

.card__caption {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bookmark__container {
  line-height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
}